<div baCardBlur class="animated fadeIn card {{cardType}} {{baCardClass || ''}}" zoom-in>
    <div *ngIf="title" class="card-header clearfix"  style="height: 60px;">

              <div class="row"  style="display: table-row;">
    <div class="input-group"  style="width:400px;" >
  <input type="text" class="form-control with-danger-addon" placeholder="Search for...">
  <span class="input-group-btn" >
      <button class="btn btn-danger" type="button">Go!</button>
  </span>
</div>
  <div style="display: table-cell;padding-left: 500px;">
    <div class="btn-group" dropdown style="vertical-align:baseline">
      <button type="button" class="btn btn-primary" dropdownToggle>
        Product
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
    <div style="display: table-cell;">
    <div class="btn-group" dropdown  style="vertical-align:baseline">
      <button type="button" class="btn btn-primary" dropdownToggle>
        Snapshot
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
              </div>
    </div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>
