    <style style="text/css">
    .mxg-select{
      background-color: rgba(255, 255, 255, 0.04);
	  }
  	.no-select{
	  }
	
	/* Define the hover highlight color for the table row */
     tr.no-select:hover {
          background-color: rgba(0, 0, 0, 0);
    }
    .rotateItem{
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
    }
</style>
<div class="horizontal-scroll">
  <table class="table table-hover">
    <thead>
    <tr class="black-muted-bg">
      <th class="browser-icons"></th>
      <th> Name</th>
      <th class="align-right">Description</th>
      <th class="align-right">Stage</th>
      <th class="align-right">Enabled/Disabled</th>
    </tr>
    </thead>
    <tbody>
            <template ngFor let-item [ngForOf]="metricsTableData" [ngForTrackBy]="itemTrackBy">

    <tr class="no-top-border" (click) = "setSelectItem(item)" *ngIf = "item.mxg !== true">
       <td><div [class.rotateItem]="getRotation(item)">></div></td>
      <td ngClass="nowrap">{{item.name}}</td>
      <td class="align-right">{{item.description}}</td>
      <td class="align-right">{{item.stage}}</td>
      <td class="align-right">{{item.enabled}}</td>
    </tr>


    <tr *ngIf="item.mxg === true" class="mxg-select" >
      <td colspan="5" >
          <sub-hover-table [metricsTableData]="item.children"></sub-hover-table>
      </td>
    </tr>
    <tr *ngIf="getRotation(item)" class="no-select" >
      <td colspan="5">
          <sub-hover-table [metricsTableData]="item.children"></sub-hover-table>
      </td>
    </tr>
            </template>
    </tbody>
  </table>
</div>
