    <style style="text/css">
    .mxg-select{
      background-color: rgba(255, 255, 255, 0.04);
	  }
  	.no-select{
	  }
	
	/* Define the hover highlight color for the table row */
     tr.no-select:hover {
          background-color: rgba(0, 0, 0, 0);
    }
    .dropdown-toggle{

    }
    .rotateItem{
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
    }
</style>
<div class="horizontal-scroll">
  <table class="table table-hover">
    <thead>
    <tr class="black-muted-bg">
      <th class="browser-icons"></th>
      <th class="browser-icons"></th>
      <th> Name</th>
      <th class="align-left">Description</th>
      <th class="align-left">Stage</th>
      <th class="align-left">Enabled/Disabled</th>
    </tr>
    </thead>
    <tbody>
            <template ngFor let-item [ngForOf]="metricsTableData" [ngForTrackBy]="itemTrackBy">

    <tr class="no-top-border" (click) = "setSelectItem(item)" *ngIf = "item.mxg !== true">
      <td  class="align-left"> 
    <div class="btn-group" dropdown style="vertical-align:baseline">
      <button type="button" class="btn btn-default" dropdownToggle>
        ...
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Edit</a></li>
        <li class="dropdown-item"><a href="#">Delete</a></li>
      </ul>
    </div>

      </td>
       <td><div [class.rotateItem]="getRotation(item)">></div></td>
      <td ngClass="nowrap">{{item.name}}</td>
      <td class="align-left">{{item.description}}</td>
      <td class="align-left">{{item.stage}}</td>
      <td class="align-left">{{item.enabled}}</td>
    </tr>


    <tr *ngIf="item.mxg === true" class="mxg-select" >
      <td colspan="6" >
          <sub-hover-table [metricsTableData]="item.children"></sub-hover-table>
      </td>
    </tr>
    <tr *ngIf="getRotation(item)" class="no-select" >
      <td colspan="6">
          <sub-hover-table [metricsTableData]="item.children"></sub-hover-table>
      </td>
    </tr>
            </template>
    </tbody>
  </table>
</div>
