<div class="horizontal-scroll">
  <table style="width:100%">
    <tbody>
            <template ngFor let-item [ngForOf]="metricsTableData" [ngForTrackBy]="itemTrackBy">
    <style style="text/css">
  	.no-select{
	  }
	  	.do-select{
	  }
	/* Define the hover highlight color for the table row */
     tr.no-select:hover {
          background-color: rgba(0, 0, 0, 0);
    }
         tr.do-select:hover {
          background-color: rgba(0, 0, 0, 0.1);
    }
    .rotateItem{
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
    }
</style>
    <tr class="no-top-border" (click) = "setSelectItem(item)" class="do-select">
      <td><div [class.rotateItem]="getRotation(item)">></div></td>
      <td><img src="{{ ( item.image | baAppPicture ) }}" width="20" height="20"></td>
      <td ngClass="nowrap">{{item.browser}}</td>
      <td class="align-right">{{item.visits}}</td>
      <td class="table-arr"><i [ngClass]="{'icon-up': item.isVisitsUp, 'icon-down': !item.isVisitsUp }"></i></td>
      <td class="align-right">P{{item.purchases}}</td>
      <td class="table-arr"><i [ngClass]="{'icon-up': item.isPurchasesUp, 'icon-down': !item.isPurchasesUp }"></i></td>
      <td class="align-right">{{item.percent}}</td>
      <td class="table-arr"><i [ngClass]="{'icon-up': item.isPercentUp, 'icon-down': !item.isPercentUp }"></i></td>
    </tr>

    <tr *ngIf="selectedItem === item && selectedItem != null" class="no-select">
      <td colspan="9">
          <sub-hover-table [metricsTableData]="item.children"></sub-hover-table>
      </td>
    </tr>
            </template>
    </tbody>
  </table>
</div>
