<div class="horizontal-scroll">
  <table style="width:100%">
    <tbody>
            <template ngFor let-item [ngForOf]="metricsTableData" [ngForTrackBy]="itemTrackBy">
    <style style="text/css">
  	.no-select{
	  }
	  	.do-select{
	  }
	/* Define the hover highlight color for the table row */
     tr.no-select:hover {
          background-color: rgba(0, 0, 0, 0);
    }
         tr.do-select:hover {
          background-color: rgba(0, 0, 0, 0.1);
    }
        .align-left{
      text-align:-webkit-left;
    }
    .rotateItem{
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
    }
</style>
 
     <tr class="no-top-border" (click) = "setSelectItem(item)" class="do-select">
       <td  class="align-left" style="width:50px">
             <div class="btn-group" dropdown style="vertical-align:baseline">
      <button type="button" class="btn btn-default" dropdownToggle>
        ...
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Edit</a></li>
        <li class="dropdown-item"><a href="#">Delete</a></li>
      </ul>
    </div>
       </td>     
        <td style="width:10px"><div [class.rotateItem]="getRotation(item)">></div></td>
      <td ngClass="nowrap align-left" >{{item.name}}</td>
      <td class="align-left" >{{item.description}}</td>
      <td class="align-left" >{{item.stage}}</td>
      <td class="align-left" >{{item.enabled}}</td>
    </tr>
    <tr *ngIf="getRotation(item)" class="no-select">
      <td colspan="6">
          <sub-hover-table [metricsTableData]="item.children"></sub-hover-table>
      </td>
    </tr>
            </template>
    </tbody>
  </table>
</div>
