<div class="widgets">
  <style style="text/css">
  .right {
    padding: 10px;
    padding-left:1100px;
}
  </style>
  <div class="right">
<button type="button" class="btn btn-default" >
        Add Feature
      </button>
  </div>
  <div class="row">
      <!--<ba-card title="Hover Rows" baCardClass="with-scroll table-panel">
        <hover-table></hover-table>
      </ba-card>-->
        <cardWithHTMLTitle baCardClass="with-scroll table-panel">
          <card-header>
         
              <div class="row"  style="display: table-row;">
    <div class="input-group"  style="width:400px;"  style="display: table-row;">
          <i class="ion-ios-search-strong" ng-click="startSearch()" style="display: table-cell;vertical-align: middle;padding-right: 10px;"></i>
    <input class="form-control with-primary-addon" type="text" placeholder="Search for..." style="display: table-cell;">
  <!--<input type="text" class="form-control with-danger-addon" placeholder="Search for...">
  <span class="input-group-btn" >
      <button class="btn btn-primary" type="button">Go!</button>
  </span>-->
</div>
  <div style="display: table-cell;padding-left: 700px;">
    <div class="btn-group" dropdown style="vertical-align:baseline" >
      <button type="button" class="btn btn-default" dropdownToggle>
        Android Flagship App
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <template ngFor let-item [ngForOf]="products" [ngForTrackBy]="itemTrackBy">
          <li class="dropdown-item"><a href="#">{{item.name}}</a></li>
        </template>

      </ul>
    </div>
  </div>
    <div style="display: table-cell;padding-left: 10px;">
    <div class="btn-group" dropdown  style="vertical-align:baseline">
      <button type="button" class="btn btn-default" dropdownToggle>
        4
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <template ngFor let-item [ngForOf]="seasons" [ngForTrackBy]="itemTrackBy">
          <li class="dropdown-item"><a href="#">{{item.name}}</a></li>
        </template>

      </ul>
    </div>
  </div>
              </div>   
          </card-header>
          <card-body>
        <hover-table [metricsTableData] = "metricsTableData" ></hover-table>
          </card-body>
      </cardWithHTMLTitle>
  </div>

</div>
